.content {
  width: 100%;
  height: auto;
  padding: 28px 0px;
  gap: 8px;
  border-bottom: 1px solid #D7DDE9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 500;
}

.dateTime {
  color: #0000008A;
}

.dateTime::first-letter {
  text-transform: uppercase;
}